<html lang="en-US">

<head>

    <title>Login Account</title>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body class="bg-light">

    <div class="container col-lg-3 mt-5">

        <h2 class="text-center text-muted mb-4">
            <a class="text-decoration-none" href="/">
                <b>
                    Galhardo APP
                </b>
            </a>
        </h2>

        {{#flash}}
            <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
                <b>{{message}}</b>
            </div>
        {{/flash}}

        <form action="/login" method="POST">

            <div class="social-btn">
                <a href="{{FacebookLoginURL}}" class="shadow-sm mb-2 w-100 btn btn-primary btn-block">
                    <i class="bi-facebook"></i> 
                    Login with 
                    <b>Facebook</b>
                </a>
                <a href="{{GitHubLoginURL}}" class="shadow-sm mb-2 w-100 btn btn-warning btn-block">
                    <i class="bi-github"></i> 
                    Login with 
                    <b>GitHub</b>
                </a>
                <a href="{{GoogleLoginURL}}" class="shadow-sm mb-2 w-100 btn btn-danger btn-block">
                    <i class="bi-google"></i> 
                    Login with 
                    <b>Google</b>
                </a>
            </div>

            <hr>

            <div class="form-floating mb-3">
                <input value="test@gmail.com" 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        name="email" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                        placeholder="Enter your email" 
                        autofocus 
                        required>
                <label for="email">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="mb-3 form-control" id="password" name="password" placeholder="Enter your password" required value="test123">
                <label for="password">Password</label>
            </div>

            <div class="form-group">
                <button type="submit" class="shadow mb-3 w-100 btn btn-success btn-block login-btn">Login</button>
            </div>

            <p class="text-center mb-3">
                <a href="/forgetPassword" class="text-decoration-none"><b>Forget My Password</b></a>
            </p>

        </form>

        <div class="hint-text">
            <small>Doesn't have a account?
            <a href="/register" class="text-success"><b>Register Account Now!</b>
            </a>
        </small>
        </div>

        <footer class="mt-3 mb-3 text-center">
            <small>Created by © <a target="_blank" href="https://github.com/alexgalhardo">Alex Galhardo</a> | 2021-Present</small>
        </footer>

    </div>

</body>

</html>