

	<footer class="mt-3 mb-3 container col-lg-6 text-center">
		<small>Created by © <a target="_blank" href="https://github.com/alexgalhardo">Alex Galhardo</a> | <a target="_blank" href="/privacy">Privacy and Terms Of Use</a> | 2021-Present</small>
	</footer>

    <script src="scripts/navbar_apis.js"></script>
    <script src="scripts/privacy.js"></script>

    {{{header.scroll_bar_script}}}

</body>

</html>
