


	<footer class="mt-3 mb-3 container col-lg-6 text-center">
		<p>Created by <a target="_blank" href="https://github.com/alexgalhardo">Alex Galhardo</a></p>
		<small>Last Update: 09/08/2021</small>
		<br>
		<small>Created at: 01/08/2021</small>
	</footer>

</body>

</html>