
    <div class="mt-1"></div>

    <div class="alert text-center cookiealert" role="alert">
        <b>We use cookies to improve your experience, offers and advertisements on the site. Our <a href="/privacy">Privacy and Terms of Use Policy</a>

        <button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
            I Agree
        </button>
    </div>

    <script src="../scripts/cookies.js"></script>

    {{{header.scroll_bar_script}}}

</body>

</html>
