<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Galhardo APP Stripe NodeJS</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="bg-light">

	<div class="container col-lg-12">
		
		<nav class="navbar navbar-expand-lg navbar-light fixed">
		  	
		  	<div class="container-fluid">
			    
			    <a class="navbar-brand fw-bold" href="/">
			    	<i class="bi bi-star"></i>
			    	Galhardo APP
			    </a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			    </button>
			    
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      	
			      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			      	
			      		<li class="nav-item dropdown">
			          		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            		Customers
			          		</a>
			          
				          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            	<li><a class="dropdown-item fw-bold text-success" href="/customers/create">Create</a></li>
				            	<li><a class="dropdown-item fw-bold text-primary" href="/customers/retrieve">Retrieve</a></li>
				            	<li><a class="dropdown-item fw-bold text-info" href="/customers/update">Update</a></li>
				            	<li><a class="dropdown-item fw-bold text-danger" href="/customers/delete">Delete</a></li>
				            	<li><a class="dropdown-item fw-bold text-warning" href="/customers/listAll">List All</a></li>
				          	</ul>
			        	</li>
				        <li class="nav-item dropdown">
				        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Cards
				          	</a>
				          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            	<li><a class="dropdown-item fw-bold text-success" href="/cards/create">Create</a></li>
				            	<li><a class="dropdown-item fw-bold text-primary" href="/cards/retrieve">Retrieve</a></li>
				            	<li><a class="dropdown-item fw-bold text-info" href="/cards/update">Update</a></li>
				            	<li><a class="dropdown-item fw-bold text-danger" href="/cards/delete">Delete</a></li>
				            	<li><a class="dropdown-item fw-bold text-warning" href="/cards/listAll">List All</a></li>
				          	</ul>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Charges
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item fw-bold text-success" href="/charges/create">Create</a></li>
				            <li><a class="dropdown-item fw-bold text-primary" href="/charges/retrieve">Retrieve</a></li>
				            <li><a class="dropdown-item fw-bold text-warning" href="/charges/listAll">List All</a></li>
				          </ul>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Products
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item fw-bold text-success" href="/products/create">Create</a></li>
				            <li><a class="dropdown-item fw-bold text-primary" href="/products/retrieve">Retrieve</a></li>
				            <li><a class="dropdown-item fw-bold text-info" href="/products/update">Update</a></li>
				            <li><a class="dropdown-item fw-bold text-danger" href="/products/delete">Delete</a></li>
				            <li><a class="dropdown-item fw-bold text-warning" href="/products/listAll">List All</a></li>
				          </ul>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Prices
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item fw-bold text-success" href="/prices/create">Create</a></li>
				            <li><a class="dropdown-item fw-bold text-primary" href="/prices/retrieve">Retrieve</a></li>
				            <li><a class="dropdown-item fw-bold text-warning" href="/prices/listAll">List All</a></li>
				          </ul>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Plans
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item fw-bold text-success" href="/plans/create">Create</a></li>
				            <li><a class="dropdown-item fw-bold text-primary" href="/plans/retrieve">Retrieve</a></li>
				            <li><a class="dropdown-item fw-bold text-danger" href="/plans/delete">Delete</a></li>
				            <li><a class="dropdown-item fw-bold text-warning" href="/plans/listAll">List All</a></li>
				          </ul>
				        </li>
				        
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Subscriptions
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item fw-bold text-success" href="/subscriptions/create">Create</a></li>
				            <li><a class="dropdown-item fw-bold text-primary" href="/subscriptions/retrieve">Retrieve</a></li>
				            <li><a class="dropdown-item fw-bold text-danger" href="/subscriptions/cancel">Cancel</a></li>
				            <li><a class="dropdown-item fw-bold text-warning" href="/subscriptions/listAll">List All</a></li>
				          </ul>
				        </li>
				        
				        <li class="nav-item dropdown">
				          	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Templates
				          	</a>
				          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            	<li>
				            		<a class="dropdown-item fw-bold" href="/"><i class="bi bi-cart"></i> Shop</a>
				            	</li>
				            	<li>
				            		<a class="dropdown-item fw-bold" href="/plan/checkout"><i class="bi bi-star">
				            		</i>Plan Premium</a>
				            	</li>
				            	<li>
				            		<a class="dropdown-item fw-bold" href="/contact">
				            			<i class="bi bi-envelope"></i> 
				            			Contact
				            		</a>
				            	</li>
				            	<li>
				            		<a class="dropdown-item fw-bold" href="/privacy">
				            			<i class="bi bi-file-earmark-lock2"></i>
				            			Privacy
				            		</a>
				            	</li>
				          	</ul>
				        </li>
				        

					        {{#user}}
						        <li class="nav-item dropdown">
						        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						        		<i class="bi bi-person-circle"></i>
						            	{{user.name}}
						          	</a>
						          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						            	<li>
						            		<a class="dropdown-item fw-bold" href="/profile">
						            			<i class="bi bi-pencil-square"></i> 	
						            			My Profile
						            		</a>
						            	</li>
						            	<li>
						            		<a class="dropdown-item fw-bold" href="/logout">
						            			<i class="bi bi-star"></i>  
						            			Logout
						            		</a>
						            	</li>
						          	</ul>
						        </li>
						    {{/user}}
						    
						    {{^user}}
							    <li class="nav-item dropdown">
						        	
						        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						            	Auth
						          	</a>
						          	
						          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						            	<li>
						            		<a class="dropdown-item fw-bold" href="/login">
						            			<i class="bi bi-cart"></i> 
						            			Login
						            		</a>
						            	</li>
						            	
						            	<li>
						            		<a class="dropdown-item fw-bold" href="/register">
						            			<i class="bi bi-star"></i>  
						            			Register
						            		</a>
						            	</li>

						          	</ul>
						        </li>
					        {{/user}}
					    
			    	
			    	</ul>

			    </div>
		 	
		 	</div>

		</nav>

	</div>
	
