# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
charset = utf-8
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,coffee,html,less,css,json}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false