<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="">
</head>
<body>
    <h2><b>Shop Transaction Information:</b></h2>
    <p><b>TRANSACTION_ID:</b> {{transaction_id}}</p>
    <p><b>PAYMENT_METHOD:</b> {{payment_method}}</p>
    <p><b>PAID:</b> {{paid}}</p>
    <p><b>TOTAL PRODUCTS: $</b> {{total_products}}</p>
    <p><b>SHIPPING FEE: $</b> {{shipping_fee}}</p>
    <p><b>AMOUNT:</b> $ {{amount}}</p>
    <p><b>PRODUCTS:</b> {{products}}</p>
    <p><b>SHIPPING:</b></p>
    <ul>
        <li><b>ZIPCODE:</b> {{shipping.zipcode}}</li>
        <li><b>STREET:</b> {{shipping.street}}</li>
        <li><b>CITY:</b> {{shipping.city}}</li>
        <li><b>STATE:</b> {{shipping.state}}</li>
    </ul>
    <p><b>CREATED_AT:</b> {{created_at}}</p>
    <hr>
    <p><a href="https://galhardoapp.com">Galhardo APP</a></p>
    <p>Created by <a href="https://github.com/AlexGalhardo">Alex Galhardo</a></p>
    <p>CNPJ: 424242-424242</p>
    <p> Cep 13560-999, Rua Avenida Paulista 42, Jardim Mariana, São Paulo-SP, Brazil</p>
</body>
</html>

