{{>partials/header}}

	<div class="container col-lg-12 mt-3 mb-3 mx-auto">

        {{^user}}
            <div class="text-center alert alert-warning mb-5" role="alert" class="mb-3">
                <h2 class="fw-bold">You must be loged in to use shop!</h2>
            </div>
        {{/user}}
        

        {{#user}}

            <form id="formCreditCard" action="/shop" method="POST">

                <input type="text" value="{{shopCart.amount}}" id="total_shop_amount" name="total_shop_amount" hidden onkeydown="return false;">


                <div class="row">

                {{#flash}}
                    <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
                        <b class="fw-bold">{{message}}</b>
                    </div>
                {{/flash}}

                <!-- START COL-LG-3 -->
                <div class="col-lg-4 mb-3">

                    <ul class="list-group text-center">

                        {{#shopCart.itens}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="h-25 w-25" src="{{image}}">
                                <small>{{title}}</small>
                                <b>R$ <span>{{price}}</span></b>
                            </li>
                        {{/shopCart.itens}}

                        <li class="list-group-item d-flex justify-content-between align-items-center bg-warning">
                            <b>TOTAL</b>
                            <b>R$ <span id="total_shop_cart">{{shopCart.amount}}</span></b>
                        </li>

                    </ul>

                </div>
                <!-- END COL-LG-3 -->  


                <!-- START COL-LG-4 -->
                <div class="col-lg-4">

                    {{#flash_warning}}
                        <div class="text-center alert alert-warning" role="alert">
                            <b>{{flash_warning}}</b>
                        </div>
                    {{/flash_warning}}

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="customer_name" id="customer_name" value="{{name}}" required onkeydown="return false;">
                      <label for="customer_name">NOME</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="customer_email" id="customer_email" value="{{email}}" required onkeydown="return false;">
                      <label for="customer_email">EMAIL</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" minlength="11" maxlength="11" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" class="form-control" id="document" name="document" value="{{document}}" required onkeydown="return false;">
                      <label for="document">CPF</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input class="mb-2 form-control" id="customer_phone" type="text" name="customer_phone" minlength="11" maxlength="11" value="{{phone.country}}{{phone.ddd}}{{phone.number}}" required>
                      <label for="customer_phone">NÚMERO TELEGRAM</label>
                    </div>


                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required minlength="6">
                      <label for="confirm_password">CONFIRMAR SENHA</label>
                    </div>


                    <br>

                    <div class="form-floating mb-3">
                          <input class="mb-2 form-control" id="zipcode" type="text" name="zipcode" pattern= "\d{5}-?\d{3}" value="" required>
                          <label for="zipcode">CEP</label>
                    </div>

                    <div class="row">

                        <!-- STREET -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_street" name="customer_street" placeholder="Street" value="" required onkeydown="return false;">
                        </div>

                        <!-- NEIGHBORHOOD -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_neighborhood" name="customer_neighborhood" placeholder="Neighborhood" value="" required onkeydown="return false;">
                        </div>

                        <!-- CITY -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_city" name="customer_city" placeholder="City" value="" required onkeydown="return false;">
                        </div>

                        <!-- STATE -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_state" name="customer_state" placeholder="State" value="" required onkeydown="return false;">
                        </div>

                        <!-- COUNTRY -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_country" name="customer_country" placeholder="Country" value="" required onkeydown="return false;">
                        </div>


                        <!-- SHIPPING CARRIER -->
                        <label for="shipping_fee" class="col-sm-5 col-form-label">Transportadora</label>
                        <div class="col-sm-7 mb-3">
                            <!-- SHIPMENT_PRICE -->
                            <input type="text" class="form-control" value="" name="shipping_carrier" id="shipping_carrier" required onkeydown="return false;">
                        </div>


                        <!-- SHIPPING FEE -->
                        <label for="shipping_fee" class="col-sm-5 col-form-label">Frete R$</label>
                        <div class="col-sm-7 mb-3">
                            <!-- SHIPMENT_PRICE -->
                            <input type="text" class="form-control" value="0" name="shipping_fee" id="shipping_fee" required onkeydown="return false;">
                        </div>
                        
                        <!-- SHIPPING DEADLINE -->
                        <label for="shipping_deadline" class="col-sm-5 col-form-label">Prazo de Entrega (dias)</label>
                        <div class="col-sm-7">
                            <!-- SHIPMENT__TIME -->
                            <input type="text" class="form-control" value="" name="shipping_deadline" id="shipping_deadline" required onkeydown="return false;">
                        </div>

                    </div>
                    <!-- END FORM-GROUP-ROW -->

                    <br>

                </div>
                <!-- END SHIPPING ADDRESS -->





                <!-- PAYMENTS -->
                <div class="col-lg-4">

                    {{#user.pagarme.card_id}}
                        <div class="form-floating mb-3">
                            <input id="pagarme_card_id" name="pagarme_card_id" class="mb-2 form-control" type="text" value="{{user.pagarme.card_id}}" readonly>
                            <label for="pagarme_card_id">REGISTRED_PAGARME_CARD_ID</label>
                        </div>

                        <div class="form-floating mb-3">
                              <input id="pagarme_card_last_digits" name="pagarme_card_last_digits" class="mb-2 form-control" type="text" value="{{user.pagarme.card_first_digits}}" readonly>
                              <label for="pagarme_card_last_digits">PAGARME_CARD_FIRST_DIGITS</label>
                        </div>


                        <div class="form-floating mb-3">
                              <input id="pagarme_card_last_digits" name="pagarme_card_last_digits" class="mb-2 form-control" type="text" value="{{user.pagarme.card_last_digits}}" readonly>
                              <label for="pagarme_card_last_digits">PAGARME_CARD_LAST_DIGITS</label>
                        </div>

                        <div class="form-floating mb-3">
                              <input id="pagarme_card_expiration_date" name="pagarme_card_expiration_date" class="mb-2 form-control" type="text" value="{{user.pagarme.card_expiration_date}}" readonly>
                              <label for="pagarme_card_expiration_date">PAGARME_CARD_EXPIRATION_DATE</label>
                        </div>

                    {{/user.pagarme.card_id}}
                            



                    {{^user.pagarme.card_id}}

                    <div id="div_credit_card"></div>

                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" name="card_holder_name" id="card_holder_name" value="{{user.name}}">
                        <label for="card_holder_name">CARD_HOLDER_NAME</label>
                    </div>

                    <div class="form-group mb-2">
                        <div class="input-group">
                            <input type="text" name="card_number" placeholder="Credit Card Number" class="form-control" value="4018720572598048" required>
                            <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="bi bi-credit-card h-100"></i> </span> </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <span class="hidden-xs">
                                    <h6 class="text-muted small">Data de Expiração</h6>
                                </span>
                                <div class="input-group">
                                    <input type="number" placeholder="Month" name="card_exp_month" min="1" max="12" step="1" class="form-control" value="11" required>
                                    <input type="number" placeholder="Year" name="card_exp_year" min="22" step="1" class="form-control" required value="22">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-4">
                                <label data-toggle="tooltip" title="Digite os 3 dígitos de segurança atrás do Credit Card.">
                                <h6 class="text-muted small">CVV
                                    <i class="fa fa-question-circle d-inline"></i>
                                </h6>
                                <input type="text" name="card_cvv" required class="form-control" placeholder="Code CVV" value="123">
                            </div>
                        </div>
                    </div>

                    {{/user.pagarme.card_id}}
            
                    <div>
                        <button type="submit" class="fw-bold btn btn-outline-success btn-block shadow w-100">
                            Pagar R$ <span id="button_pay">{{shopCart.amount}}</span>
                        </button>
                    </div>

                </div>
                <!-- END PAYMENTS -->

            </div>
            <!-- END ROW -->
		
        </form>

    </div>

	<script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.card.js"></script>
    <script src="scripts/render_credit_card.js"></script>
    <script src="scripts/shop.js"></script>

    {{/user}}

{{>partials/footer}}
