{{>partials/header}}

        <main class="container col-lg-12 mt-3">

        <!-- ROW -->
        <div class="row">

            {{#flash}}
                <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
                    <b>{{message}}</b>
                </div>
            {{/flash}}

            {{#user}}

            <!-- AVATAR -->
            <div class="col-sm-4">
                
                <form action="/profile/avatar"
                    method="POST" 
                    enctype="multipart/form-data"
                    class="col-lg-8">
                
                    <img src="/uploads/avatars/{{avatar}}" class="d-block mx-auto w-50 h-50 image-fluid rounded-circle" alt="avatar">

                    <br>
                    
                    <input class="form-control mb-2" type="file" id="avatar" name="avatar">
                    
                    <button class="btn btn-sm btn-outline-primary shadow" type="submit">
                        <i class="bi bi-upload"></i>  
                        Upload Avatar
                    </button>
                </form>

                <hr>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="created_at" type="text" value="{{created_at}}" readonly>
                      <label for="name">CREATED_AT</label>
                </div>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="updated_at" type="text" value="{{updated_at}}" readonly>
                      <label for="name">UPDATED_AT</label>
                </div>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{admin}}" readonly>
                      <label for="admin">ADMIN</label>
                </div>

                <div class="form-floating mb-3">
                      <input class="mb-2 form-control" name="operation_system" id="operation_system" type="text" readonly>
                      <label for="operation_system">OPERATION_SYSTEM</label>
                </div>

                <div class="form-floating mb-3">
                      <input class="mb-2 form-control" name="browser" id="browser" type="text" readonly>
                      <label for="browser">BROWSER</label>
                </div>

                <div class="form-floating mb-3">
                      <input class="mb-2 form-control" name="public_ip" id="public_ip" type="text" readonly>
                      <label for="public_ip">PUBLIC IP</label>
                </div>

                <div class="form-floating mb-3">
                      <input  class="mb-2 form-control" name="latitude" id="latitude" type="text" readonly>
                      <label for="latitude">LATITUDE</label>
                </div>

                <div class="form-floating mb-3">
                      <input class="mb-2 form-control" type="text" name="longitude" id="longitude" readonly>
                      <label for="longitude">LONGITUDE</label>
                </div>

            </div>

            <div class="col-lg-4">

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.customer_id}}" readonly>
                      <label for="name">CUSTOMER_ID</label>
                </div>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.card_token_id}}" readonly>
                      <label for="name">CARD_TOKEN_ID</label>
                </div>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.card_id}}" readonly>
                      <label for="name">CARD_ID</label>
                </div>

                {{#stripe.card_id}}
                    <div class="form-group row mb-3">
                        <label class="col-lg-4 col-form-label mb-2 form-control-label"></label>
                        <div class="col-lg-8">
                            <input type="submit" class="shadow w-100 btn btn-sm btn btn-outline-danger" value="Delete Credit Card">
                        </div>
                    </div>
                {{/stripe.card_id}}

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.currently_subscription_name}}" readonly>
                      <label for="name">PLAN</label>
                </div>

                <div class="form-floating mb-3">
                      <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.subscription_automatically_renew}}" readonly>
                      <label for="name">AUTOMATICALLY_RENEW</label>
                </div>

                <div class="form-floating mb-3">
                      <input class="mb-2 form-control" name="subs_end" type="text" value="{{stripe.subscription_end}}" readonly>
                      <label for="name">SUBSCRIPTION_END_DATE_TIME</label>
                </div>

                {{#stripe.subscription_automatically_renew}}
                    <div class="form-group row mb-3">
                        <label class="col-lg-4 col-form-label mb-2 form-control-label"></label>
                        <div class="col-lg-8">
                            <input type="submit" class="shadow w-100 btn btn-sm btn btn-outline-danger" value="Cancel Subscription">
                        </div>
                    </div>
                {{/stripe.subscription_automatically_renew}}

            </div>


            <div class="col-lg-4">

                <form action="/profile" class="form" method="POST">

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="name" id="name" value="{{name}}">
                      <label for="name">NAME</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="email" id="email" value="{{email}}">
                      <label for="floatingInput">EMAIL</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" minlength="11" maxlength="11" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" class="form-control" id="document" name="document" value="{{document}}">
                      <label for="document">DOCUMENT</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input class="mb-2 form-control" id="phone" type="text" name="phone" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" minlength="11" maxlength="11" placeholder="Digit your cellphone" value="{{phone}}" required>
                      <label for="document">PHONE</label>
                    </div>


                    <div class="form-floating mb-3">
                      <input class="form-control" type="date" name="birth_date" id="birth_date"  value="{{birth_date}}" required>
                      <label for="document">BIRTH_DATE</label>
                    </div>

                    <hr>

                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="older_password" name="older_password">
                      <label for="older_password">OLDER_PASSWORD</label>
                    </div>


                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="new_password" name="new_password">
                      <label for="new_password">NEW_PASSWORD</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password">
                      <label for="confirm_new_password">CONFIRM_NEW_PASSWORD</label>
                    </div>

                    <hr>

                    <div class="form-floating mb-3">
                      <input class="mb-2 form-control" id="zipcode" type="text" name="zipcode" pattern= "\d{5}-?\d{3}"  value="{{address.zipcode}}" required>
                      <label for="document">ZIPCODE</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="street" value="{{address.street}}" onkeydown="return false;" required>
                      <label for="street">STREET</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input class="mb-2 form-control" type="number" min='1' max='9999' name="street_number" placeholder="Digit your street number" value="{{address.street_number}}" required>
                      <label for="street">STREET_NUMBER</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="mb-2 form-control" id="neighborhood" name="neighborhood" placeholder="Neighborhood" value="{{address.neighborhood}}" onkeydown="return false;" required>
                      <label for="street">NEIGHBORHOOD</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="mb-2 form-control" id="city" name="city" placeholder="City" value="{{address.city}}" onkeydown="return false;" required>
                      <label for="street">CITY</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="mb-2 form-control" id="state" name="state" placeholder="State" value="{{address.state}}" onkeydown="return false;" required>
                      <label for="street">STATE</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="mb-2 form-control" id="country" name="country" value="BRAZIL" onkeydown="return false;" required>
                      <label for="street">COUNTRY</label>
                    </div>

                {{/user}}

                    <div class="form-group row mb-3">
                        <label class="col-lg-4 col-form-label mb-2 form-control-label"></label>
                        <div class="col-lg-8">
                            <input type="submit" class="shadow w-100 btn btn btn-outline-success" value="Update Profile">
                        </div>
                    </div>

                </form>

            </div>

            <hr>


            {{^user.admin}}
                <form action="/deleteProfile" class="form mb-5" method="POST">
                    <button type="submit"
                            class="btn btn btn-outline-danger float-right"
                            onclick="confirm('Are you sure you want to delete your account?!');"
                            >
                            Delete Account
                    </button>
                </form>
            {{/user.admin}}


        </div>
        <!-- END ROW -->
        
    </main>



        <script src="scripts/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="scripts/profile.js"></script>
        
        <!--<li><hr class="dropdown-divider"></li>
        <li class="dropdown-item" id="os"></li>
        <li class="dropdown-item" id="browser"></li>
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-item" id="public_ip"></li>
        <li class="dropdown-item" id="latitude"></li>
        <li class="dropdown-item" id="longitude"></li>
        </div>-->

{{>partials/footer}}