{{>partials/header}}

        <main class="container col-lg-8 mt-3">

        <!-- ROW -->
        <div class="row">

            {{#flash}}
                <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
                    <b>{{message}}</b>
                </div>
            {{/flash}}

            {{#user}}

            <!-- AVATAR -->
            <div class="col-sm-5">
                <form action="/profile/avatar"
                    method="POST" 
                    enctype="multipart/form-data">
                
                    <img src="/uploads/avatars/{{avatar}}" class="text-center w-75 h-50 image-fluid rounded-circle" alt="avatar">

                    <br>
                    
                    <input class="form-control mb-2" type="file" id="avatar" name="avatar">
                    
                    <button class="btn btn-sm btn-outline-primary shadow" type="submit">
                        Upload Avatar
                    </button>
                </form>

                <hr>

                <div class="form-group row mt-3">
                    <label class="col-lg-4 col-form-label">created_at</label>
                    <div class="col-lg-8">
                        <input placeholder="Digit your username" class="mb-2 form-control" name="created_at" type="text" value="{{created_at}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">updated_at</label>
                    <div class="col-lg-8">
                        <input placeholder="Digit your username" class="mb-2 form-control" name="updated_at" type="text" value="{{updated_at}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">admin?</label>
                    <div class="col-lg-8">
                        <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{admin}}" readonly>
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">PLAN</label>
                    <div class="col-lg-8">
                        <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.currently_subscription_name}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Automatically Renew?</label>
                    <div class="col-lg-8">
                        <input placeholder="Digit your username" class="mb-2 form-control" name="admin" type="text" value="{{stripe.subscription_automatically_renew}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Subs End</label>
                    <div class="col-lg-8">
                        <input class="mb-2 form-control" name="subs_end" type="text" value="{{stripe.subscription_end}}" readonly>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-lg-4 col-form-label mb-2 form-control-label"></label>
                    <div class="col-lg-8">
                        <input type="submit" class="shadow w-100 btn btn-sm btn btn-outline-danger" value="Cancel Subscription">
                    </div>
                </div>

            </div>
            <!-- END COL AVATAR -->



            <!-- COL-LG-6 -->
            <div class="col-lg-7">

                <form action="/profile" class="form" method="POST">

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Username</label>
                        <div class="col-lg-8">
                            <input placeholder="Digit your username" class="mb-2 form-control" name="username" type="text" value="{{name}}" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Email</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" type="email" name="email" placeholder="Digit your email" value="{{email}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Document</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" type="text" minlength="11" maxlength="11" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" id="document" name="document" placeholder="Digit your document" value="{{document}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Phone</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" id="phone" type="text" name="phone" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" minlength="11" maxlength="11" placeholder="Digit your cellphone" value="{{phone}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Birth Date</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="date" name="birth_date" id="birth_date"  value="{{birth_date}}"/>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Older Password</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" minlength="6" name="olderPassword" type="password" placeholder="Confirm your older password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">New Password</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" minlength="6" name="newPassword" type="password" placeholder="Digit your new password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label mb-2 form-control-label">Confirm New Password</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" minlength="6" name="confirmNewPassword" type="password" placeholder="Confirm your new password">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">ZipCode</label>
                        <div class="col-lg-8">
                            <input type="number" class="mb-2 form-control" id="zipcode" name="zipcode" placeholder="Enter Your Zip Code" value="{{address.zipcode}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Street</label>
                        <div class="col-lg-8">
                            <input type="text" class="mb-2 form-control" id="street" name="street" placeholder="Street" value="{{address.street}}" onkeydown="return false;" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Street Number</label>
                        <div class="col-lg-8">
                            <input class="mb-2 form-control" type="number" min='1' max='9999' name="street_number" placeholder="Digit your street number" value="{{address.street_number}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Neighborhood</label>
                        <div class="col-lg-8">
                            <input type="text" class="mb-2 form-control" id="neighborhood" name="neighborhood" placeholder="Neighborhood" value="{{address.neighborhood}}" onkeydown="return false;" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">City</label>
                        <div class="col-lg-8">
                            <input type="text" class="mb-2 form-control" id="city" name="city" placeholder="City" value="{{address.city}}" onkeydown="return false;" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">State</label>
                        <div class="col-lg-8">
                            <input type="text" class="mb-2 form-control" id="state" name="state" placeholder="State" value="{{address.state}}" onkeydown="return false;" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Country</label>
                        <div class="col-lg-8">
                            <input type="text" class="mb-2 form-control" id="country" name="country" value="BRAZIL" onkeydown="return false;" required>
                        </div>
                    </div>

                {{/user}}

                    <div class="form-group row mb-3">
                        <label class="col-lg-4 col-form-label mb-2 form-control-label"></label>
                        <div class="col-lg-8">
                            <input type="submit" class="shadow w-100 btn btn btn-outline-success" value="Update Profile">
                        </div>
                    </div>

                </form>

            </div>

            <hr>


            {{^user.admin}}
                <form action="/deleteProfile" class="form mb-5" method="POST">
                    <button type="submit"
                            class="btn btn btn-outline-danger float-right"
                            onclick="confirm('Are you sure you want to delete your account?!');"
                            >
                            Delete Account
                    </button>
                </form>
            {{/user.admin}}


        </div>
        <!-- END ROW -->
        
    </main>



        <script src="scripts/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
        $("#zipcode").change(function() {
            var zipcode = $("#zipcode").val();

            axios.get("https://galhardo-correios.herokuapp.com/cep/" + zipcode)
            .then(function(response) {
                var street = response.data.logradouro;
                var neighborhood = response.data.bairro;
                var city = response.data.localidade;
                var state = response.data.uf;
                $('#street').val(street);
                $('#neighborhood').val(neighborhood);
                $('#city').val(city);
                $('#state').val(state);
            });
        });
        </script>
    </div>

{{>partials/footer}}