{{>partials/header}}

    <div class="container col-lg-12 text-center mt-3">

        <div class="row">

            <h3 class="fw-bold text-info mb-3">
              <i class="bi bi-list-ul"></i> My Shop Transactions
            </h3>

            <table class="table table-over mt-5">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">CREATED AT</th>
                    </tr>
                </thead>
                <tbody>
                    {{#shopTransactions}}
                        <tr>
                            <th>{{id}}</th>
                            <td>{{status}}</td>
                            <td>{{amount}}</td>
                            <td>{{currency}}</td>
                            <td>{{created}}</td>
                        </tr>
                    {{/shopTransactions}}
                </tbody>
            </table>

        </div>

    </div>

{{>partials/footer}}
