{{>partials/header}}

    <div class="container col-lg-12 mt-3 mx-auto">

        <div class="row">

            <div class="col-lg-4 mb-3">

                <ul class="list-group text-center">

                    {{#shopTransaction.products}}

                        <li class="list-group-item d-flex justify-content-between align-items-center">

                            <input name="quantityOranges" class="form-control w-25" type="number" min="1" step="1"
                                value="{{quantity}}" id="quantityOranges" readonly>

                            {{name}}

                            <b>
                                $
                                <span id="priceOranges">
                                    {{total}}
                                </span>
                            </b>
                        </li>

                    {{/shopTransaction.products}}

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Shipping Fee
                        <b>$ <span>{{shopTransaction.shipping.fee}}</span></b>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center bg-warning">
                        <b>TOTAL</b>
                        <b>$ <span>{{shopTransaction.amount}}</span></b>
                    </li>

                </ul>

            </div>



            <div class="col-lg-4">
                {{#shopTransaction}}
                    <ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>CHARGE_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>CURRENCY:</b> {{currency}}</li>
                        <li class="list-group-item"><b>AMOUNT:</b> {{amount}}</li>
                        <li class="list-group-item"><b>PAID:</b> {{paid}}</li>
                        <li class="list-group-item"><b>PAYMENT_METHOD:</b> {{payment_method}}</li>
                        <li class="list-group-item"><b>CREATED_AT:</b> {{shopTransaction.created_at}}</li>
                    </ul>
                {{/shopTransaction}}
            </div>


            <div class="col-lg-4">
                {{#shopTransaction}}
                    <ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>Customer:</b> {{customer_name}}</li>
                        <li class="list-group-item"><b>Phone:</b> {{customer_phone}}</li>
                        <li class="list-group-item"><b>Email:</b> {{customer_email}}</li>
                        <li class="list-group-item"><b>Shipping ZipCode:</b> {{shipping.address.postal_code}}</li>
                        <li class="list-group-item"><b>Shipping Street:</b> {{shipping.address.line1}}</li>
                        <li class="list-group-item"><b>Shipping City:</b> {{shipping.address.city}}</li>
                        <li class="list-group-item"><b>Shipping State:</b> {{shipping.address.state}}</li>
                        <li class="list-group-item"><b>Shipping Country:</b> {{shipping.address.country}}</li>
                        <li class="list-group-item"><b>Shipping Carrier:</b> {{shipping.carrier}}</li>
                    </ul>
                {{/shopTransaction}}
            </div>

        </div>

    </div>

{{>partials/footer}}
