{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="row">

            <h3 class="fw-bold text-primary mb-3">
                <i class="bi bi-credit-card-2-front"></i> RETRIEVE Card Information
            </h3>

            <a target="_blank" class="mb-5" href="https://stripe.com/docs/api/cards/retrieve">
                https://stripe.com/docs/api/cards/retrieve
            </a>

            <div class="col-lg-5">
        		<form action="/cards/retrieve" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
        			  	<input type="text" class="form-control" name="customer_id" id="customer_id" placeholder="Customer Name" required autofocus value="cus_JwuIk74ZSSQXwX">
        			  	<label for="customer_id">CUSTOMER_ID</label>
        			</div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="card_id" id="card_id" placeholder="Customer Name" required autofocus value="card_1JJ0VlBD6lhzYmkOMFGXXueH">
                        <label for="card_id">CARD_ID</label>
                    </div>

        			<button type="submit" class="btn btn-outline-primary w-100 shadow">Retrieve Credit Card</button>
        		</form>
            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#card}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>CARD ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>CUSTOMER ID:</b> {{customer}}</li>
                        <li class="list-group-item"><b>BRAND:</b> {{brand}}</li>
                        <li class="list-group-item"><b>CARD_EXP_MONTH:</b> {{exp_month}}</li>
                        <li class="list-group-item"><b>CARD_EXP_YEAR:</b> {{exp_year}}</li>
                        <li class="list-group-item"><b>CARD_LAST4:</b> {{last4}}</li>
                    </ul>
        		{{/card}}
            </div>

        </div>

	</div>

{{>partials/footer}}