{{>partials/header}}

	<div class="container col-lg-12 mt-3 mx-auto">

		{{#flash}}
			<div class="text-center alert alert-{{type}}" role="alert">
				<b>{{message}}</b>
			</div>
		{{/flash}}

		<div class="row">

            <div class="col-lg-6">

            	{{{divPlanBanner}}}

                <br>

            </div>

	        <div class="col-lg-6">
        		{{#subscription}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>SUBS_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>SUBS_STATUS:</b> {{status}}</li>
                        <li class="list-group-item"><b>CUSTOMER_ID:</b> {{customer}}</li>
                        <li class="list-group-item"><b>CUSTOMER_EMAIL:</b> {{user.email}}</li>
                        <li class="list-group-item"><b>current_period_start:</b> {{current_period_start}}</li>
                        <li class="list-group-item"><b>current_period_end:</b> {{current_period_end}}</li>
                        <li class="list-group-item"><b>CREATED:</b> {{created}}</li>
                    </ul>
        		{{/subscription}}
	        </div>

	    </div>

	</div>

{{>partials/footer}}