{{>partials/header}}

    <main class="container col-lg-5 mt-3">

        <div class="row justify-content-center">
            
            <form action="/contact" method="POST">

                {{#flash}}
                    <div class="text-center alert alert-{{type}}" role="alert">
                        <b>{{message}}</b>
                    </div>
                {{/flash}}

                <div class="form-floating mb-3">
                    <input type="txt" class="mb-3 form-control" id="contact_username" name="contact_username" required autofocus>
                    <label for="contact_username">Your Name</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="email" id="contact_email" name="contact_email" class="form-control" required>
                    <label for="contact_email">Digit your email</label>
                </div>

                <select class="form-select mb-3" name="contact_subject" required>
                    <option value="feedback">Feedback</option>
                    <option value="bugs">Bugs/Error</option>
                    <option value="others">Others</option>
                </select>

                <div class="mb-3">
                    <label for="contact_message" class="form-label">Digit your message</label>
                    <small id="count" class="text-muted"></small>
                    <textarea id="contact_message" maxlength="1024" class="form-control" name="contact_message" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-outline-success shadow">Send Mensage</button>

            </form>

        </div>

    </main>

    <script src="scripts/navbar_apis.js"></script>
    <script src="scripts/privacy.js"></script>

    <script>
        var message = document.getElementById('contact_message');
        var length = message.getAttribute("maxlength");
        var count = document.getElementById('count');
        count.innerHTML = length + ' words left';
        message.onkeyup = function () {
          document.getElementById('count').innerHTML = (length - this.value.length) + ' words left';
        };
    </script>

{{>partials/footer}}
