{{>partials/header}}

    <main class="container col-lg-5 mt-3">

        <div class="row justify-content-center">
            
            <form action="/contact" method="POST">

                {{#flash}}
                    <div class="text-center alert alert-{{type}}" role="alert">
                        <b>{{message}}</b>
                    </div>
                {{/flash}}

                <div class="form-floating mb-3">
                    <input type="txt" class="mb-3 form-control" id="name" name="name" required autofocus>
                    <label for="name">Your Name</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="email" id="email" name="email" class="form-control" required>
                    <label for="email">Your Email</label>
                </div>

                <select class="form-select mb-3" name="subject" required>
                    <option value="Feedback">Feedback</option>
                    <option value="Bug/Error">Bug/Error</option>
                    <option value="Privacy Policy">Privacy and Terms of Use Policy</option>
                    <option value="Others">Others</option>
                </select>

                <div class="mb-3">
                    <label for="message" class="form-label">Digit your message</label>
                    <small id="count" class="text-muted"></small>
                    <textarea id="message" maxlength="1024" class="form-control" name="message" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-outline-success shadow">Send Mensage</button>

            </form>

        </div>

    </main>

    <script>
        var message = document.getElementById('message');
        var length = message.getAttribute("maxlength");
        var count = document.getElementById('count');
        count.innerHTML = length + ' words left';
        message.onkeyup = function () {
          document.getElementById('count').innerHTML = (length - this.value.length) + ' words left';
        };
    </script>

{{>partials/footer}}
