{{>partials/header}}

	<div class="container col-lg-12 mt-3">

      	<div class="row">

            {{#flash}}
                <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
                    <b class="fw-bold">{{message}}</b>
                </div>
            {{/flash}}

            {{^game}}
                <div class="text-center alert alert-warning" role="alert" class="mb-3">
                    <b class="fw-bold">No games found!</b>
                </div>
            {{/game}}


            {{#game}}

            <div class="col-lg-3 text-center">
                <img id="game_image" src="{{image}}" class="shadow-sm mx-auto d-block w-75 image-fluid mb-3" alt="game_image">

                <a id="game_amazon_link" href="{{amazon_link}}" target="_blank"><img src="/images/amazon-button.png" class="image-fluid mb-3"></a>

                <button class="w-75 btn btn-primary shadow mb-3" type="submit" onclick="recommendOtherGame()">
                        <i class="bi bi-play-fill"></i> 
                        Recommend Other
                </button>
            </div>
            


            <div class="col-lg-7">
                <div class="card-body">
                    
                    <div class="d-flex justify-content-between alert alert-warning pd-2">
                        <h4 class="card-title">
                            <a target="_blank" id="game_igdb_link" style="text-decoration:none;" href="{{igdb_link}}" class="card-link">
                                <span id="game_title">{{title}}</span>
                                (<span id="game_year_release" class="text-muted">
                                    {{year_release}}
                                </span>) 
                            </a>
                        </h4>
                        
                        <h4>⭐ 
                            <span id="game_igdb_rating">
                                {{igdb_rating}}
                            </span>
                        </h4>
                    </div>

                    {{#user.admin}}
                        <a href="/admin/update/game/{{id}}" class="mb-2 btn btn-outline-warning shadow-sm">ADMIN Edit This Game</a>
                    {{/user.admin}}
                    
                    <input id="game_id" name="game_id" type="hidden" value="<?= $game->id; ?>">
                    
                    <p class="card-text" id="game_resume">{{resume}}</p>
                    
                    <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item"><b>Genres:</b> <small id="game_genres">{{genres}}</small></li>
                        
                        <li class="list-group-item"><b>Platforms:</b> <small id="game_platforms">{{platforms}}</small></li>

                        <li class="list-group-item"><b>Developer:</b> <small id="game_developer">{{developer}}</small></li>
                    </ul>
                </div>
            </div>
            <!-- END GAME POST -->

            {{/game}}

            <!-- COL-LG-2 -->
            <div class="col-lg-2 mb-3">
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action  bg-dark text-white" aria-current="true">
                        <i class="bi bi-controller"></i> 
                        Games
                    </a>
                      
                    <a href="/books" class="list-group-item list-group-item-action">
                        <i class="bi bi-book"></i> 
                        Books
                    </a>
                </div>
            </div>

        </div>
	
    </div>

    <script src="scripts/games.js"></script>
    <script src="scripts/navbar_apis.js"></script>
    <script src="scripts/privacy.js"></script>

{{>partials/footer}}