{{>partials/header}}

	<div class="container col-lg-12">

      	<div class="row">

            <input type="text" id="user_id" hidden value="{{user.id}}" readonly>
            <input type="text" id="app_url" hidden value="{{app_url}}" readonly>

            {{^games}}
                {{^game}}
                    <div class="text-center alert alert-warning" role="alert" class="mb-3">
                        <b class="fw-bold">No games found!</b>
                    </div>
                {{/game}}
            {{/games}}


            {{#flash_success}}
                <div class="text-center alert alert-success" role="alert">
                    <b>{{flash_success}}</b>
                </div>
            {{/flash_success}}

            {{#flash_warning}}
                <div class="text-center alert alert-warning" role="alert">
                    <b>{{flash_warning}}</b>
                </div>
            {{/flash_warning}}



            {{#game}}
                <input id="game_id" name="game_id" type="hidden" value="{{id}}">

                <div class="col-lg-3 text-center">

                    <img id="game_image" src="{{image}}" class="shadow mx-auto d-block w-75 image-fluid mb-3" alt="game_image">

                    <a id="game_amazon_link" href="{{amazon_link}}" target="_blank"><img src="/images/amazon-button.png" class="shadow image-fluid mb-3"></a>

                    <a href="/pagarme/checkout/game/{{id}}" id="pagarme_checkout_button" class="w-75 btn btn-outline-success shadow mb-3 {{^user}}disabled{{/user}}">
                        <i class="bi bi-bag"></i>
                        <b>Comprar R$ <span id="game_price">{{price}}</span></b>
                    </a>

                    {{#user.admin}}
                        <a href="/admin/update/game/{{id}}" class="w-75 shadow mb-2 btn btn-warning shadow-sm">
                        <i class="bi bi-unlock-fill"></i>
                        Edit This Game</a>
                    {{/user.admin}}

                </div>

                <div class="col-lg-6">

                    <div class="card-body">

                        <div class="d-flex justify-content-between mb-3">
                            <h3 class="card-title">
                                <a target="_blank" id="game_igdb_link" style="text-decoration:none;" href="{{igdb_link}}" class="card-link">
                                    <span id="game_title" class="fw-bold text-primary">{{title}}</span>
                                    (<span id="game_year_release" class="text-muted">{{year_release}}</span>)
                                </a>
                            </h3>

                            <h3 class="fw-bold text-warning">⭐
                                <span id="game_igdb_rating">
                                    {{igdb_rating}}
                                </span>
                            </h3>
                        </div>


                        <small class="card-text" id="game_resume">{{resume}}</small>

                        <ul class="mt-3 bg-light">

                            <li><small><b>Gêneros:</b> <span id="game_genres">{{genres}}</span></small></li>

                            <li><small><b>Plataformas:</b> <span id="game_platforms">{{platforms}}</span></small></li>

                            <li><small><b>Desenvolvedores:</b> <span id="game_developer">{{developer}}</span></small></li>
                        </ul>
                    </div>

                </div>
                <!-- END GAME POST -->



                <div class="col-lg-3 mb-3">

                    <button class="w-100 btn btn-outline-dark shadow mb-3" onclick="recommendOtherGame()">
                            <i class="bi bi-play-fill"></i>
                            RecomendaÊ
                    </button>

                    <form class="mb-3" action="/searchGame" method="GET">
                        <input class="form-control" type="search" placeholder="Buscar título de jogo..." aria-label="Search" name="title">
                    </form>

                    <div class="list-group">
                        <a href="/" class="d-flex justify-content-between list-group-item list-group-item-action bg-dark text-white" aria-current="true">
                            <i class="bi bi-controller"></i>
                            <span>Jogos</span>
                            <span>{{totalGames}}</span>
                        </a>

                        <a href="/books" class="d-flex justify-content-between list-group-item list-group-item-action">
                            <i class="bi bi-book"></i>
                            <span>Livros</span>
                            <span>{{totalBooks}}</span>
                        </a>
                    </div>

                    {{^user}}
                        <div id="newsletter_card">

                        </div>
                    {{/user}}

                </div>
            {{/game}}






            {{#games}}

                <div class="col-lg-3 text-center">

                    <img id="game_image" src="{{image}}" class="shadow mx-auto d-block w-75 image-fluid mb-3" alt="game_image">

                    <a id="game_amazon_link" href="{{amazon_link}}" target="_blank"><img src="/images/amazon-button.png" class="image-fluid mb-3 shadow"></a>

                    <a href="/pagarme/checkout/game/{{id}}" id="pagarme_checkout_button" class="w-75 btn btn-outline-danger shadow mb-3 {{^user}}disabled{{/user}}">
                        <b><i class="bi bi-cart"></i>
                        Comprar R$ <span id="game_price">{{price}}</span></b>
                    </a>

                </div>


                <div class="col-lg-6">

                    <div class="card-body">

                        <div class="d-flex justify-content-between mb-3">
                            <h4 class="card-title">
                                <a target="_blank" id="game_igdb_link" style="text-decoration:none;" href="{{igdb_link}}" class="card-link">
                                    <span id="game_title" class="fw-bold text-primary">{{title}}</span>
                                    (<span id="game_year_release" class="text-muted">
                                        {{year_release}}
                                    </span>)
                                </a>
                            </h4>

                            <h4 class="fw-bold text-warning">⭐
                                <span id="game_igdb_rating">
                                    {{igdb_rating}}
                                </span>
                            </h4>
                        </div>

                        <small class="card-text" id="game_resume">{{resume}}</small>

                        <ul class="mt-3">

                            <li><small><b>Gêneros:</b> <span id="game_genres">{{genres}}</span></small></li>

                            <li><small><b>Plataformas:</b> <span id="game_platforms">{{platforms}}</span></small></li>

                            <li><small><b>Desenvolvedores:</b> <span id="game_developer">{{developer}}</span></small></li>
                        </ul>
                    </div>

                </div>
                <!-- END GAME POST -->

                {{#firstGame}}
                    <div class="col-lg-3 mb-3">

                        <form class="mb-3" action="/searchGame" method="GET">
                            <input class="form-control" type="search" placeholder="Buscar título de jogo..." aria-label="Search" name="title">
                        </form>

                        <div class="list-group">
                            <a href="/" class="d-flex justify-content-between list-group-item list-group-item-action bg-dark text-white" aria-current="true">
                                <i class="bi bi-controller"></i>
                                <span>Jogos</span>
                                <span>{{totalGames}}</span>
                            </a>

                            <a href="/books" class="d-flex justify-content-between list-group-item list-group-item-action">
                                <i class="bi bi-book"></i>
                                <span>Livros</span>
                                <span>{{totalBooks}}</span>
                            </a>
                        </div>

                        {{^user}}
                            <div id="newsletter_card">

                            </div>
                        {{/user}}

                    </div>
                {{/firstGame}}

                {{^firstGame}}<div class="col-lg-3"></div>{{/firstGame}}
            {{/games}}


        </div>
	
    </div>

    <script src="scripts/games.js"></script>

    <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <script src="scripts/newsletter.js"></script>

{{>partials/footer}}
