{{>partials/header}}

	<div class="container col-lg-12 mt-3 mx-auto">

		{{#flash}}
			<div class="text-center alert alert-{{type}}" role="alert">
				<b>{{message}}</b>
			</div>
		{{/flash}}

		<div class="row">

			<div class="col-lg-4 mb-3">
	                    
	            <ul class="list-group text-center">
	                
	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    <input name="quantityOranges" class="form-control w-25" type="number" min="1" step="1" value="{{shopCartItems.quantityOranges}}" id="quantityOranges" readonly>
	                    Oranges  
	                    <b>$<span id="priceOranges">{{shopCartItems.totalOranges}}</span></b>
	                </li>
	                  
	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    <input name="quantityGrapes" class="form-control w-25" type="number" min="1" step="1" value="{{shopCartItems.quantityGrapes}}" id="quantityGrapes" readonly>
	                    Grapes  
	                    <b>$<span id="priceGrapes">{{shopCartItems.totalGrapes}}</span></b>
	                </li>
	                  
	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    <input name="quantityApples" class="form-control w-25" type="number" min="1" step="1" value="{{shopCartItems.quantityApples}}" id="quantityApples" readonly>
	                    Apples  
	                    <b>$<span id="priceApples">{{shopCartItems.totalApples}}</span></b>
	                </li>
	                  
	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    <input name="quantityStrawberries" class="form-control w-25" type="number" min="1" step="1" value="{{shopCartItems.quantityStrawberries}}" id="quantityStrawberries" readonly>
	                    Strawberries  
	                    <b>$<span id="priceStrawberries">{{shopCartItems.totalStrawberries}}</span></b>
	                </li>

	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    <b>TOTAL</b>  
	                    <b>$<span id="priceStrawberries">{{value_totalShopCart}}</span></b>
	                </li>
	            
	            </ul>

	        </div>



			<div class="col-lg-4">
        		{{#shopCardCharge}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>CHARGE_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>CURRENCY:</b> {{currency}}</li>
                        <li class="list-group-item"><b>AMOUNT:</b> {{amount}}</li>
                        <li class="list-group-item"><b>PAID:</b> {{paid}}</li>
                        <li class="list-group-item"><b>PAYMENT_METHOD:</b> {{payment_method}}</li>
                        <li class="list-group-item"><b>CREATED_AT:</b> {{created}}</li>
                    </ul>
        		{{/shopCardCharge}}
	        </div>


	        <div class="col-lg-4">
        		{{#shipping}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>Customer:</b> {{shipping.name}}</li>
                        <li class="list-group-item"><b>Phone:</b> {{shipping.phone}}</li>
                        <li class="list-group-item"><b>Email:</b> {{customer_email}}</li>
                        <li class="list-group-item"><b>Shipping ZipCode:</b> {{shipping.address.postal_code}}</li>
                        <li class="list-group-item"><b>Shipping Street:</b> {{shipping.address.line1}}</li>
                        <li class="list-group-item"><b>Shipping City:</b> {{shipping.address.city}}</li>
                        <li class="list-group-item"><b>Shipping State:</b> {{shipping.address.state}}</li>
                        <li class="list-group-item"><b>Shipping Country:</b> {{shipping.address.country}}</li>
                        <li class="list-group-item"><b>Shipping Carrier:</b> {{shipping.carrier}}</li>
                    </ul>
        		{{/shipping}}
	        </div>

	    </div>

	</div>

{{>partials/footer}}